@model hostel_project.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_regi.cshtml";
}

<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../assets/img/th.jpg')">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Login
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5">

                    <div @*class="wrap-input100 validate-input" data-validate="Enter username"*@>
                        <center>  @Html.LabelFor(m => m.Username)</center>

                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "User name" })
                        <div>
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "error" })
                        </div>




                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>


                    </div>

                    <div>
                        <center>  @Html.LabelFor(m => m.Password)</center>

                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                        <div>  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })</div>


                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>


                    <div class="container-login100-form-btn m-t-32">
                        <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <br />
                        <br />
                        <div id="dvMessage" style="display:none" class="alert alert-danger">
                            <strong>Error!</strong>
                            <span>@ViewBag.Message</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                $("#dvMessage").show();
            });
        </script>
    }
</body>



